
@model PlanetModel
<div>
    <h1>@Model.name---@Model.vnName</h1></br>
    <p><img src="@Model.urlImage"></p>
    <p>@Model.desciption</p>
    <p><a asp-action="OnGetAll">Quay lại trang</a></p>

</div>