@page "admin/user/{roleid}"
@model App.Admin.User.AddRoleModel
@{
    ViewData["Title"] = "List user";
}


<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="roleName" type="hidden" />
            <div class="form-group">
                <label asp-for="roleName"></label>
                @Html.ListBoxFor(m=>m.roleName, @Model.allRole, new {
                    id="id-select-roles",
                    @class = "form-control"
                   
                })
                <span asp-validation-for="roleName" class="text-danger"></span>
            </div>
           
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


