@page "/admin/roles/delete"
@model App.Admin.Role.IndexModel
@{
}


<partial name="_StatusMessage" model="@Model.StatusMessage"></partial> 

<p>Delete successed</p>
<div>
    <a class="btn btn-secondary" asp-page="./Create">Create</a>
</div>